In [ ]:
# Import the libraries
import pandas as pd
import string

In [ ]:
# Read the CSV file
path_in = r'/content/IMDB Top 250 Movies.csv'
movies = pd.read_csv(path_in, index_col=False)

In [ ]:
# Display the movie dataset 
movies

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont"
1,2,The Godfather,1972,9.2,"Crime,Drama",R,2h 55m,An offer you can't refuse.,6000000,250341816,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola"
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
3,4,The Godfather Part II,1974,9.0,"Crime,Drama",R,3h 22m,All the power on earth can't change destiny.,13000000,47961919,"Al Pacino,Robert De Niro,Robert Duvall,Diane K...",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo"
4,5,12 Angry Men,1957,9.0,"Crime,Drama",Approved,1h 36m,Life Is In Their Hands -- Death Is On Their Mi...,350000,955,"Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...",Sidney Lumet,Reginald Rose
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,The Help,2011,8.1,Drama,PG-13,2h 26m,Change begins with a whisper.,25000000,216639112,"Viola Davis,Emma Stone,Octavia Spencer,Bryce D...",Tate Taylor,"Tate Taylor,Kathryn Stockett"
246,247,Dersu Uzala,1975,8.2,"Adventure,Biography,Drama",G,2h 22m,There is man and beast at nature's mercy. Ther...,4000000,14480,"Maksim Munzuk,Yuriy Solomin,Mikhail Bychkov,Vl...",Akira Kurosawa,"Akira Kurosawa,Yuriy Nagibin,Vladimir Arsenev"
247,248,Aladdin,1992,8.0,"Animation,Adventure,Comedy",G,1h 30m,Wish granted! (DVD re-release),Not Available,Not Available,"Scott Weinger,Robin Williams,Linda Larkin,Jona...","Ron Clements,John Musker","Ron Clements,John Musker,Ted Elliott"
248,249,Gandhi,1982,8.0,"Biography,Drama,History",PG,3h 11m,His Triumph Changed The World Forever.,22000000,52767889,"Ben Kingsley,John Gielgud,Rohini Hattangadi,Ro...",Richard Attenborough,John Briley
249,250,Dances with Wolves,1990,8.0,"Adventure,Drama,Western",PG-13,3h 1m,Inside everyone is a frontier waiting to be di...,22000000,424208848,"Kevin Costner,Mary McDonnell,Graham Greene,Rod...",Kevin Costner,Michael Blake

In [ ]:
# rename some of the header
movies = movies.rename(columns={'rank': 'Rank',
                            'name': 'Name',
                            'year': 'Year',
                            'rating': 'Rating',
                            'genre': 'Genres',
                            'certificate': 'Certificate',
                            'run_time': 'Run_time',
                            'tagline': 'Tagline',
                            'budget': 'Budget',
                            'box_office': 'Box_office',
                            'casts': 'Casts',
                            'directors': 'Directors',
                            'writers': 'Writers'})

In [ ]:
# Show list of column name of the dataset
movies.columns.tolist()

['Rank',
 'Name',
 'Year',
 'Rating',
 'Genres',
 'Certificate',
 'Run_time',
 'Tagline',
 'Budget',
 'Box_office',
 'Casts',
 'Directors',
 'Writers']

In [ ]:
# Get the information of the dataset
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         250 non-null    int64
 1   Name         250 non-null    object
 2   Year         250 non-null    int64
 3   Rating       250 non-null    float64
 4   Genres       250 non-null    object
 5   Certificate  250 non-null    object
 6   Run_time     250 non-null    object
 7   Tagline      250 non-null    object
 8   Budget       250 non-null    object
 9   Box_office   250 non-null    object
 10  Casts        250 non-null    object
 11  Directors    250 non-null    object
 12  Writers      250 non-null    object
dtypes: float64(1), int64(2), object(10)
memory usage: 25.5+ KB

In [ ]:
# Calculate the occurences of "Not Available" value in each column
count_NA = movies.apply(lambda x: x.value_counts().get('Not Available', 0))
print(count_NA)

Rank            0
Name            0
Year            0
Rating          0
Genres          0
Certificate     1
Run_time        1
Tagline         0
Budget         39
Box_office     30
Casts           0
Directors       0
Writers         0
dtype: int64

In [ ]:
# Change the 'Not Available' variable in the certificate column to 'Unknown' and clean other cells
def change_cell(cell):
  if (cell != 'Not Available'):
    value = cell
  else:
    value = 'Unknown'
  return value

def certificate_transform(row):
  row.Certificate = change_cell(row.Certificate)
  return row
    
movies = movies.apply(certificate_transform, axis=1)

In [ ]:
# Change the 'Not Available' variable in the run_time column to 'Unknown' and convert the length of the movie to minutes
def replace_unit (cell):
  if (cell != 'Not Available'):
    time = cell.split()
    if (len(time) > 1):
      total_minutes = int(time[0].strip('h')) * 60 + int(time[1].strip('m'))
    elif (time[0][-1] == 'h'):
      total_minutes = int(time[0].strip('h')) * 60
    elif (time[0][-1] == 'm'):
      total_minutes = int(time[0].strip('m'))
    else:
      total_minutes = 0
  else:
    total_minutes = 'Unknown'
  return total_minutes

def run_time_transform(row):
    row.Run_time = replace_unit(row.Run_time)
    return row
    
movies = movies.apply(run_time_transform, axis=1)

In [ ]:
# Change the 'Not Available' variable in the budget column to 'Unknown' and clean other cells
def cell_replace(unit):
  if (unit != 'Not Available'):
    values = unit.split()
    if (len(values) > 1):
      if (values[0] == 'EM'):
        value = values[1]
      elif (values[0] == 'RF'):
        value = values[1]
    else:
      value = values[0].strip('$')
  else:
    value = 'Unknown'
  return value

def budget_transform(row):
    row.Budget = cell_replace(row.Budget)
    return row
    
movies = movies.apply(budget_transform, axis=1)

In [ ]:
# Change the 'Not Available' variable in the box_office column to 'Unknown' and clean other cells
def cell_change(cell):
  if (cell != 'Not Available'):
    values = cell.split()
    value = values[0]
  else:
    value = 'Unknown'
  return value

def box_office_transform(row):
  row.Box_office = cell_change(row.Box_office)
  return row
    
movies = movies.apply(box_office_transform, axis=1)

In [ ]:
# Calculate the occurences of 'Not Available' value in each column
count_NA = movies.apply(lambda x: x.value_counts().get('Not Available', 0))
print(count_NA)

Rank           0
Name           0
Year           0
Rating         0
Genres         0
Certificate    0
Run_time       0
Tagline        0
Budget         0
Box_office     0
Casts          0
Directors      0
Writers        0
dtype: int64

In [ ]:
# Display the movie dataset 
movies

,Rank,Name,Year,Rating,Genres,Certificate,Run_time,Tagline,Budget,Box_office,Casts,Directors,Writers
0,1,The Shawshank Redemption,1994,9.3,Drama,R,142,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont"
1,2,The Godfather,1972,9.2,"Crime,Drama",R,175,An offer you can't refuse.,6000000,250341816,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola"
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",PG-13,152,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
3,4,The Godfather Part II,1974,9.0,"Crime,Drama",R,202,All the power on earth can't change destiny.,13000000,47961919,"Al Pacino,Robert De Niro,Robert Duvall,Diane K...",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo"
4,5,12 Angry Men,1957,9.0,"Crime,Drama",Approved,96,Life Is In Their Hands -- Death Is On Their Mi...,350000,955,"Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...",Sidney Lumet,Reginald Rose
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,The Help,2011,8.1,Drama,PG-13,146,Change begins with a whisper.,25000000,216639112,"Viola Davis,Emma Stone,Octavia Spencer,Bryce D...",Tate Taylor,"Tate Taylor,Kathryn Stockett"
246,247,Dersu Uzala,1975,8.2,"Adventure,Biography,Drama",G,142,There is man and beast at nature's mercy. Ther...,4000000,14480,"Maksim Munzuk,Yuriy Solomin,Mikhail Bychkov,Vl...",Akira Kurosawa,"Akira Kurosawa,Yuriy Nagibin,Vladimir Arsenev"
247,248,Aladdin,1992,8.0,"Animation,Adventure,Comedy",G,90,Wish granted! (DVD re-release),Unknown,Unknown,"Scott Weinger,Robin Williams,Linda Larkin,Jona...","Ron Clements,John Musker","Ron Clements,John Musker,Ted Elliott"
248,249,Gandhi,1982,8.0,"Biography,Drama,History",PG,191,His Triumph Changed The World Forever.,22000000,52767889,"Ben Kingsley,John Gielgud,Rohini Hattangadi,Ro...",Richard Attenborough,John Briley
249,250,Dances with Wolves,1990,8.0,"Adventure,Drama,Western",PG-13,181,Inside everyone is a frontier waiting to be di...,22000000,424208848,"Kevin Costner,Mary McDonnell,Graham Greene,Rod...",Kevin Costner,Michael Blake

In [ ]:
# write the changed dataset to a new file
movies.to_csv('/content/clean_movies.csv', index=False)